
.Barra_Menu{
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100px;
}

.wrapper {
	width:90%; 
	max-width:1000px; 
	margin:auto; 
	overflow:hidden; 
}


@media screen and (max-width: 950px){
	header nav{
		width: 100%;
		text-align:center;
		line-height: 100px; 
	}
	.Barra_Menu{
		height: auto;
	}
}
